//Colores
$mostaza: #cc9933;
$rojo: #991b1e;
$amarillo: #fcba30;
$naranja: #ff9933;
$verde1: #006851;
$verde2: #006633;
$verde3: #669933;
$verde4: #b6bd00;
$azul-iica: #003366;
$azul-iica2: #006699;
$azuliica3: #006666;
$gris: #ebebeb;
$gris2: #9f9f9f;
$gris3: #989898;
$negro: #000000;
$blanco: #ffffff;
//Fin Colores

//Dirección carpeta de imágenes
$imagenes: '../image/';

$default-font-size: 14px;
$font-family: 'Open Sans', sans-serif;

//Brakpoints
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px
