@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 1, ../sass/partials/_base.scss */
html {
  font-size: 14px;
}

/* line 4, ../sass/partials/_base.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 12, ../sass/partials/_base.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 15, ../sass/partials/_base.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* line 18, ../sass/partials/_base.scss */
.margin-top-30 {
  margin-top: 30px;
}

/* line 21, ../sass/partials/_base.scss */
.margin-top-40 {
  margin-top: 40px;
}

/* line 24, ../sass/partials/_base.scss */
.margin-top-50 {
  margin-top: 50px;
}

/* line 27, ../sass/partials/_base.scss */
.margin-top-60 {
  margin-top: 60px;
}

/* line 31, ../sass/partials/_base.scss */
.margin-bottom-10 {
  margin-bottom: 10px;
}

/* line 34, ../sass/partials/_base.scss */
.margin-bottom-20 {
  margin-bottom: 20px;
}

/* line 37, ../sass/partials/_base.scss */
.margin-bottom-30 {
  margin-bottom: 30px;
}

/* line 40, ../sass/partials/_base.scss */
.margin-bottom-40 {
  margin-bottom: 40px;
}

/* line 43, ../sass/partials/_base.scss */
.margin-bottom-50 {
  margin-bottom: 50px;
}

/* line 46, ../sass/partials/_base.scss */
.margin-bottom-60 {
  margin-bottom: 60px;
}

/* line 51, ../sass/partials/_base.scss */
.padding {
  padding: 10px;
}

/* line 54, ../sass/partials/_base.scss */
.padding40 {
  padding: 40px;
}

/* line 58, ../sass/partials/_base.scss */
.container {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 2, ../sass/partials/_colors.scss */
.azuliica {
  background-color: #003366;
}

/* line 6, ../sass/partials/_colors.scss */
.azuliica2 {
  background-color: #006699;
}

/* line 10, ../sass/partials/_colors.scss */
.azuliica3 {
  background-color: #006666;
}

/* line 14, ../sass/partials/_colors.scss */
.mostaza {
  background-color: #cc9933;
}

/* line 18, ../sass/partials/_colors.scss */
.rojo {
  background-color: #991b1e;
}

/* line 22, ../sass/partials/_colors.scss */
.amarillo {
  background-color: #fcba30;
}

/* line 26, ../sass/partials/_colors.scss */
.naranja {
  background-color: #ff9933;
}

/* line 30, ../sass/partials/_colors.scss */
.verde1 {
  background-color: #006851;
}

/* line 34, ../sass/partials/_colors.scss */
.verde2 {
  background-color: #006633;
}

/* line 38, ../sass/partials/_colors.scss */
.verde3 {
  background-color: #669933;
}

/* line 42, ../sass/partials/_colors.scss */
.verde4 {
  background-color: #b6bd00;
}

/* line 46, ../sass/partials/_colors.scss */
.gris {
  background-color: #ebebeb;
}

/* line 50, ../sass/partials/_colors.scss */
.gris2 {
  background-color: #9f9f9f;
}

/* line 54, ../sass/partials/_colors.scss */
.blanco {
  background-color: #ffffff;
}

/* line 58, ../sass/partials/_colors.scss */
.lt-azuliica {
  color: #003366;
}

/* line 62, ../sass/partials/_colors.scss */
.lt-azuliica2 {
  color: #006699;
}

/* line 66, ../sass/partials/_colors.scss */
.lt-azuliica3 {
  color: #006666;
}

/* line 70, ../sass/partials/_colors.scss */
.lt-mostaza {
  color: #cc9933;
}

/* line 74, ../sass/partials/_colors.scss */
.lt-rojo {
  color: #991b1e;
}

/* line 78, ../sass/partials/_colors.scss */
.lt-amarillo {
  color: #fcba30;
}

/* line 82, ../sass/partials/_colors.scss */
.lt-naranja {
  color: #ff9933;
}

/* line 86, ../sass/partials/_colors.scss */
.lt-verde1 {
  color: #006851;
}

/* line 90, ../sass/partials/_colors.scss */
.lt-verde2 {
  color: #006633;
}

/* line 94, ../sass/partials/_colors.scss */
.lt-verde3 {
  color: #669933;
}

/* line 98, ../sass/partials/_colors.scss */
.lt-verde4 {
  color: #b6bd00;
}

/* line 102, ../sass/partials/_colors.scss */
.lt-gris {
  color: #ebebeb;
}

/* line 106, ../sass/partials/_colors.scss */
.lt-blanco {
  color: #ffffff;
}

/* line 112, ../sass/partials/_colors.scss */
.hover-azuliica:hover {
  background-color: #003366;
  color: white;
}

/* line 119, ../sass/partials/_colors.scss */
.hover-azuliica2:hover {
  background-color: #006699;
  color: white;
}

/* line 126, ../sass/partials/_colors.scss */
.hover-azuliica3:hover {
  background-color: #006666;
  color: white;
}

/* line 133, ../sass/partials/_colors.scss */
.hover-mostaza:hover {
  background-color: #cc9933;
  color: white;
}

/* line 140, ../sass/partials/_colors.scss */
.hover-rojo:hover {
  background-color: #991b1e;
  color: white;
}

/* line 147, ../sass/partials/_colors.scss */
.hover-amarillo:hover {
  background-color: #fcba30;
  color: white;
}

/* line 154, ../sass/partials/_colors.scss */
.hover-naranja:hover {
  background-color: #ff9933;
  color: white;
}

/* line 161, ../sass/partials/_colors.scss */
.hover-verde1:hover {
  background-color: #006851;
  color: white;
}

/* line 168, ../sass/partials/_colors.scss */
.hover-verde2:hover {
  background-color: #006633;
  color: white;
}

/* line 175, ../sass/partials/_colors.scss */
.hover-verde3:hover {
  background-color: #669933;
  color: white;
}

/* line 182, ../sass/partials/_colors.scss */
.hover-verde4:hover {
  background-color: #b6bd00;
  color: white;
}

/* line 188, ../sass/partials/_colors.scss */
.hover-gris {
  background-color: #ebebeb;
}
/* line 189, ../sass/partials/_colors.scss */
.hover-gris:hover {
  background-color: #ebebeb;
}

/* line 196, ../sass/partials/_colors.scss */
.hover-gris2:hover {
  background-color: #9f9f9f;
  color: white;
}

/* line 203, ../sass/partials/_colors.scss */
.hover-blanco:hover {
  background-color: #ffffff;
}

/* line 1, ../sass/partials/sections/_footer.scss */
footer {
  background-color: #003366;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  /* line 1, ../sass/partials/sections/_footer.scss */
  footer {
    padding: 24px 80px;
  }
}
/* line 7, ../sass/partials/sections/_footer.scss */
footer h6 {
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 11, ../sass/partials/sections/_footer.scss */
footer a {
  color: #ffffff;
}
/* line 13, ../sass/partials/sections/_footer.scss */
footer a:hover {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

/* line 21, ../sass/partials/sections/_footer.scss */
.footer-social li {
  display: inline-block;
}
/* line 24, ../sass/partials/sections/_footer.scss */
.footer-social img {
  max-height: 24px;
}

/* line 29, ../sass/partials/sections/_footer.scss */
.footer-info-general img {
  height: 52px;
  margin-bottom: 20px;
}

/* line 34, ../sass/partials/sections/_footer.scss */
.footer-conexion ul {
  text-align: center;
}
/* line 36, ../sass/partials/sections/_footer.scss */
.footer-conexion ul img {
  height: 160px;
}

/* line 40, ../sass/partials/sections/_footer.scss */
.footer-conexion-titulo {
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: -14px;
}

/* line 45, ../sass/partials/sections/_footer.scss */
.footer-conexion-suscribase {
  padding-top: 10px;
}
/* line 47, ../sass/partials/sections/_footer.scss */
.footer-conexion-suscribase a {
  color: #669933;
}
/* line 49, ../sass/partials/sections/_footer.scss */
.footer-conexion-suscribase a:hover {
  color: #669933;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  /* line 58, ../sass/partials/sections/_footer.scss */
  .footer-bordered {
    border-right: dotted 2px #006699;
    border-left: dotted 2px #006699;
  }
}
/* line 64, ../sass/partials/sections/_footer.scss */
.footer-paises {
  padding-left: 48px;
}

@media screen and (max-width: 768px) {
  /* line 69, ../sass/partials/sections/_footer.scss */
  .footer-paises, .footer-conexion {
    display: none;
  }
}
/* line 75, ../sass/partials/sections/_footer.scss */
#wrapwrap > footer {
  display: block;
}

/* line 1, ../sass/partials/sections/_header.scss */
header a.navbar-brand img {
  max-height: 50px;
  margin-top: 0px;
}

/* line 2, ../sass/partials/widgets/_ms-list.scss */
.ms-selectable .ms-list {
  margin-top: 10px;
}

/* line 8, ../sass/partials/widgets/_ms-list.scss */
.ms-selection .ms-list {
  margin-top: 44px;
}
